@(peSelfAppraisal : models.performance.PeSelfAppraisal)
@import java.lang.Long; var last=0l;
               <div class="row">
                 <div class="col-md-12" id="monthData">
                        <div class="text-center">
                        @if(peSelfAppraisal != null){
                        	@if(PEController.checkMonthday(peSelfAppraisal.monthDate)){
				               <div class="col-md-12">
				               			<button data-id="@peSelfAppraisal.id" type="button" class="btn btn-primary btn-raised margin-0 appraisal">Edit</button>
				               	</div>
				            }
                        	@for((peAppraisalAnswer,index) <- peSelfAppraisal.answerList.zipWithIndex){
                        		@(last = {index+1}) 
	                                <div class="col-md-12" id="selfAppraisalForm">
	                                <div class="col-md-10 col-md-offset-1">
	                                    <div class="text-left ">
	                                    <p>Q@{index+1}. <span class="wb"> 
	                                    	@for(observedValue <- PEController.convertReference(peAppraisalAnswer.performanceQuestion.question)){
												@observedValue
												<br>
											}
	                                   		</span>
	                                   	</p>
	                                    </div>
	                                </div>
	                                </div>
	                                <div class="col-md-12">
	                                  <div class="col-md-6 padding0">
										<div class="col-md-2 col-md-offset-2 padding0">
											<input type="radio" value="1" name="rate[@index]" required @if(peAppraisalAnswer.rate == 1){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">1
											</label><br>
											<label class="control-label">Extremely Bad</label>
										</div>
										<div class="col-md-2">
											<input type="radio" value="2" name="rate[@index]" required @if(peAppraisalAnswer.rate == 2){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">2</label>
										</div>
										<div class="col-md-2">
											<input type="radio" value="3" name="rate[@index]" required @if(peAppraisalAnswer.rate == 3){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">3</label>
										</div>
										<div class="col-md-2">
											<input type="radio" value="4" name="rate[@index]" required @if(peAppraisalAnswer.rate == 4){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">4</label>
										</div>
										<div class="col-md-2">
											<input type="radio" value="5" name="rate[@index]" required @if(peAppraisalAnswer.rate == 5){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">5</label>
										</div>
									</div>
									<div class="col-md-6 padding0">
										<div class="col-md-2">
											<input type="radio" value="6" name="rate[@index]" required @if(peAppraisalAnswer.rate == 6){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">6</label>
										</div>
										<div class="col-md-2">
											<input type="radio" value="7" name="rate[@index]" required @if(peAppraisalAnswer.rate == 7){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">7</label>
										</div>
										<div class="col-md-2">
											<input type="radio" value="8" name="rate[@index]" required @if(peAppraisalAnswer.rate == 8){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">8</lfda fdas fdabel>
										</div>
										<div class="col-md-2">
											<input type="radio" value="9" name="rate[@index]" required @if(peAppraisalAnswer.rate == 9){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">9</label>
										</div>
										<div class="col-md-2 padding0">
											<input type="radio" value="10" name="rate[@index]" required @if(peAppraisalAnswer.rate == 10){checked="checked"} disabled="disabled"/>
											<br>
											<label class="control-label">10
												<br>
											</label>
											<label class="control-label">Extremely Good</label>
										</div>
									</div>
	                               </div>
	                              <div class="col-md-10 col-md-offset-1">
	                              	<textarea class="form-control" minlength="100"  name="answer[@index]" rows="5" id="textArea" placeholder="Enter Text Min 100 Characters" required="required" disabled="disabled">@peAppraisalAnswer.answer</textarea>
	                              </div>
                          		}
                          			<div class="col-md-10 col-md-offset-1" id="selfAppraisalForm">
		                              	<div class="text-left ">
		                                    <p>Q@{last+1}. <span> Issues/concerns </span></p>
		                                 </div>
		                              </div>
		                              <div class="col-md-10 col-md-offset-1">
		                              	<textarea class="form-control"  name="issue" rows="5" id="textArea" placeholder="Enter Issues/concerns" disabled="disabled">@peSelfAppraisal.issue</textarea>
		                              </div>
                            }else{
                            	<h3 class="text-center">This Month Data Not Available!</h3>
                            }
                        </div>
                    </div>
                    <div id="editMonthData"></div>
                </div>
                

<script>
$('.appraisal').on('click', function(){
	$.post('/performance/editSelfAppraisal?id='+$(this).attr('data-id'), function(data){
		$("#monthData").addClass('hidden');
		 $("#editMonthData").html(data);
		});
});
</script>
 
 
 