@* configureLeavesList Template File *@
@(param: Any)
<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
</style>
			<ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle text-orange text-capitalize" data-toggle="dropdown">
                <button class="dropbtn dropdown-toggle text-capitalize"><b class="caret"></b></button></a>
                <ul  class="dropdown-menu">
			    	<li><a href="/secure-create/holiday"><div align="center">Holidays</div></a></li>
                	<li><a href="/leave-types"><div align="center">Leave Types</div></a></li>
			    	<li><a href="/working-days"><div align="center">Working Days</div></a></li>
			    	<li><a href="/entitlement"><div align="center">Add Entitlement</div></a></li>
                </ul>
              </li>
            </ul>