 @header("BB8",-1){
  <section>
  <br><br><br><br><br><br><br>
        <div class="container">
        <div class="panel">
	        <div class="col-md-12 heading-badge">
	        <div align="right"><a href="/"><i class="fa fa-times-circle fa-2x close-login"></i></a></div>
	            <h3>Forget Password</h3>
	        </div>
        <div class="row">
            <div class="col-md-10">
                    <div class="bs-component">
                          <div class="col-md-8 col-md-offset-2">
                            <form class="form-horizontal" action="@routes.Application.sendMailForgetPassword()" method="post" id="addUserForm">
                                <fieldset>
                                 <div class="form-group is-empty">
                                      <label for="inputEmail" class="control-label">Enter Your Email Id :</label>
                                      <input type="text" class="form-control" name="email" required="required" id="email">
                                  	   <span class="material-input"></span><br>
                                  </div>
                                  <div class="form-group">
                                    <div class="text-center">
                                      <button type="reset" class="btn btn-warning btn-raised">Clear</button>
                                      <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                                    </div>
                                  </div>
                                  </fieldset></form>  
                                  </div> 
                        </div>
                </div>
            </div>
        
    </div>    
    </div>    
</section>
}
@footer(""){
<script>
 $('.mydate').datepicker({
       format: 'dd-mm-yyyy',
       endDate: ' new Date()',
       autoclose: true
  });
 $('#addUserForm').formValidation({
	    framework: 'bootstrap',
	    // This option will not ignore invisible fields which belong to inactive panels
	    excluded: ':disabled',
	    fields: {
	        email: {
	            validators: {
	                notEmpty: {
	                    message: 'Please fill this field'
	                },
	                remote: {
                    	message: 'Email Id does not exist',
                        type: 'POST',
                        url: '/isExistEmailForgetPassword',
                        data: function(validator) {
                            return {
                                email: validator.getFieldElements('email').val()
                            }
                        }
                  
                 }
	            }
	        }
	    }
	});
</script>
}
