     <div class="modal fade" id="company-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" style="margin:0 !important;" align="center">Add New Company</h4>
			      </div>
			      <div class="modal-body">
			       <form class="form-horizontal" id="addCompanyForm" method="post">
       				<div class="col-md-12">
        			 <div class="row cmpnyname">
                         <div class="col-md-3 ">
                             <div class="pull-left leave-label">  
                             	<label  class="control-label">Company Name</label>
                              <span class="asterisk"> * </span></div>
                         </div>
                         <div class="col-md-5">
                         	 <div class="form-group">
	                         	 <input type="text" class="form-control" id="companyName" name="companyName" required="required"/>
                             </div>
                         </div>
                     </div>
                   	<div class="row">
                          <div class="col-md-3">
                          <div class="pull-left leave-label"><label  class="control-label"> Address</label> <span class="asterisk"> * </span></div>
                          </div>
                          <div class="col-md-5">
                          	<div class="form-group is-empty">
                          		<textarea class="form-control" name="address" rows="5" id="address" required="required"></textarea><span class="material-input"></span>
                          	</div>
                          </div>
                      </div>
                      <br><br>
                      <div class="row">
                          <div class="col-md-3 ">
                          	<div class="pull-left leave-label">  	
                          		<label  class="control-label">Website </label>
                          	</div>
                          </div>
                          <div class="col-md-5">
                          	<div class="form-group is-empty"><input type="text" id="website" class="form-control" name="website"/></div>
                          </div>
                      </div>
                      <div align="center">
                      		<input type="hidden" class="form-control" id="companyName" name="leadId" value="1" required="required"/>
			      			<button  type="submit" id="addcom" class="btn btn-primary btn-raised">Submit</button>
			      	  </div>
                   </div>
     			 </form>
			      </div>
			      <div class="modal-footer">
			        @*<button type="button" class="btn btn-success" onclick="AddCompany();">Submit</button>
			        <button type="button" class="btn btn-warning btn-raised" data-dismiss="modal">Cancle</button>*@
			      </div>
			    </div>
			  </div>
			</div>
    
    

<script>

 $('#addCompanyForm').bootstrapValidator({
    framework: 'bootstrap',
    // This option will not ignore invisible fields which belong to inactive panels
    excluded: ':disabled',
    fields: {
        companyName: {
            validators: {
                notEmpty: {
                    message: 'Please fill Company Name'
                },
               	remote: {
                	message: 'Company Name Already Existed',
                    type: 'POST',
                    url: '/isExistCompanyName',
                    data: function(validator) {
                        return {
                        	companyName: validator.getFieldElements('companyName').val()
                        }
                    }
           		 }
            }
        },
        address: {
            validators: {
                notEmpty: {
                    message: 'Please fill  Company Address'
                }
            }
        }
    }
});
 </script> 
 
