@header("All Leads",6){
<section>
    <form class="form-horizontal" id="#" action=""  method="post">
        <div class="container">
            <div class="panel">
                <div class="col-md-12">
	            	<div class="btn-group">
		               <a href="javascript:void(0)" class="btn text-orange ">Company<div class="ripple-container"></div></a>
		               <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
		               <ul class="dropdown-menu">
			                <li><a href="/allCompany">All Company</a></li>
			                <li><a href="/addCompany">Add Company</a></li>
		               </ul>
		            </div>
		            <div class="btn-group">
		               <a href="javascript:void(0)" class="btn text-orange">Contact<div class="ripple-container"></div></a>
		               <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
		               <ul class="dropdown-menu">
			                <li><a href="/allContact">All Contacts</a></li>
			                <li><a href="/addContact">Add Contacts</a></li>
		               </ul>
		            </div>
		            <div class="btn-group">
		               <a href="javascript:void(0)" class="btn">Leads<div class="ripple-container"></div></a>
		               <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
		               <ul class="dropdown-menu">
			                <li><a href="/allLead">All Leads</a></li>
			                <li><a href="/addLead">Add Leads</a></li>
		               </ul>
		            </div>
		            <div class="btn-group">
		              <a href="/configureLead" class="btn ">Configure Lead Status</a>
		            </div>
		        </div>
                 <div class="col-md-12">
                 	<h1 class="text-center"> Lead SUmmary - Lead ID : 003</h1>
                 </div>
                 <div class="col-md-12 heading-badge">
                 	<div class="col-md-11">
                    	<h3 class="">Current Status : Proposal Due </h3>
                    </div>
                    <div class="col-md-1">
                    	<div class="text-center">
                    		<i class="fa fa-edit"></i>
                    	</div>	
                    </div>
                </div>
                <div class="col-md-12">
                	<div> <b>New</b> (Rishi Khare , 20/02/2016) -> <b>NDA Sent </b>(pavan , 2502/2015) -> <b>NDA Signed </b>(Rishi Khare , 27/01/2016) -> <b> Firest Discussion</b>(pavna , 01/05/2016) -><b>Proposal Due</b>(pavan , 07/02/2016)</div>
                	<br><br><br>
                </div>
                <div class="col-md-12 heading-badge">
                 	<div class="col-md-11">
                    	<h3 class="">Tickets </h3>
                    </div>
                    <div class="col-md-1">
                    	<div class="text-center">
                    		<i class="fa fa-plus"></i>
                    	</div>	
                    </div>
                </div>
                <div class="col-md-12">
                 	<table class="table table-bordered table-striped">
                 		<thead>
                 			<tr>
                 				<th> Ticket No</th>
                 				<th> Ticket Title</th>
                 				<th> Opened By</th>
                 				<th> On</th>
                 			</tr>
                 		</thead>
                 		<tbody>
                 			<tr>	
                 				<td>8</td>
                 				<td> title of the ticket title of the ticket title of the ticket </td>
                 				<td> pavan</td>
                 				<td> 20/03/2016</td>
                 			</tr>	
                 			<tr>	
                 				<td>10</td>
                 				<td> title of the ticket title of the ticket title of the ticket </td>
                 				<td> pavan</td>
                 				<td> 20/03/2016</td>
                 			</tr>	
                 			<tr>	
                 				<td>14</td>
                 				<td> title of the ticket title of the ticket title of the ticket </td>
                 				<td> pavan</td>
                 				<td> 20/03/2016</td>
                 			</tr>	
                 			                 			                 			                 			<tr>	
                 				<td>17</td>
                 				<td> title of the ticket title of the ticket title of the ticket </td>
                 				<td> pavan</td>
                 				<td> 20/03/2016</td>
                 			</tr>	
                 		</tbody>
                 	</table>
                </div>
                 <div class="col-md-12 heading-badge">
                 	<div class="col-md-11">
                    	<h3 class="">Lead Details </h3>
                    </div>
                    <div class="col-md-1">
                    	<div class="text-center">
                    		<i class="fa fa-edit"></i>
                    	</div>	
                    </div>
                </div>
                 <div class="col-md-12">
                 	<div class="col-md-6">
                    	<div class="row">
                    		<div class="col-md-6">
                    			<p> company Name </p>
                    		</div>
                    		<div class="col-md-6">
                    			<p> prarie paper </p>
                    		</div>
                    	</div>
                    	<div class="row">
                    		<div class="col-md-6">
                    			<p> Address </p>
                    		</div>
                    		<div class="col-md-6">
                    			<p> Vancouver , BC canada </p>
                    		</div>
                    	</div>
                    	<div class="row">
                    		<div class="col-md-6">
                    			<p> Website </p>
                    		</div>
                    		<div class="col-md-6">
                    			<p> - </p>
                    		</div>
                    	</div>
                    	<div class="row">
                    		<div class="col-md-6">
                    			<p> Opportunity </p>
                    		</div>
                    		<div class="col-md-6">
                    			<p> Company website</p>
                    		</div>
                    	</div>
                    	<div class="row">
                    		<div class="col-md-6">
                    			<p> Source </p>
                    		</div>
                    		<div class="col-md-6">
                    			<p> Self Generatrd</p>
                    		</div>
                    	</div>
                    	<div class="row">
                    		<div class="col-md-6">
                    			<p> Assigned To </p>
                    		</div>
                    		<div class="col-md-6">
                    			<p> Pavan</p>
                    		</div>
                    	</div>
                    </div>
                </div>
                <div class="col-md-12 heading-badge">
                 	<div class="col-md-11">
                    	<h3 class="">Contact Details </h3>
                    </div>
                    <div class="col-md-1">
                    	<div class="text-center">
                    		<i class="fa fa-edit"></i>
                    	</div>	
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                        <div class="text-center">
		                <div class="col-md-12">
			                <table class="table table-bordered table-hover allLeads">
		                    	<thead>
		                    		<tr>
		                    			<th>Sno</th>
		                    			<th>Name</th>
		                    			<th>Contact No</th>
		                    			<th>Email </th>
		                    			<th>Job Title</th>
		                    			<th>Location</th>
		                    		</tr>
		                    	</thead>
		                    	<tbody>
		                    		<tr>
		                    			<td>1</td>
		                    			<td>Jeff Calvert</td>
		                    			<td>1234567897</td>
		                    			<td>jeff@@gmail.com</td>
		                    			<td> CEO</td>
		                    			<td>Delhi</td>
		                    		</tr>
		                    		<tr>
		                    			<td>2</td>
		                    			<td> Calvert</td>
		                    			<td>787878797</td>
		                    			<td> Calvert@@gmail.com</td>
		                    			<td> Senior Manager</td>
		                    			<td>Hyderabad</td>
		                    		</tr>
		                    		<tr>
		                    			<td>3</td>
		                    			<td>John</td>
		                    			<td>9999567897</td>
		                    			<td>john@@gmail.com</td>
		                    			<td> Country Manager</td>
		                    			<td>benglore</td>
		                    		</tr>
		                    		<tr>
		                    			<td>4</td>
		                    			<td>ram</td>
		                    			<td>7774567897</td>
		                    			<td>Ram@@gmail.com</td>
		                    			<td> Co Founder</td>
		                    			<td>kolkatta</td>
		                    		</tr>
		                    		
		                    	</tbody>
		                    </table>
		               </div>     
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>

} @footer(""){

<script>
//$('.allLeads').DataTable();
</script>
 }
 
 
