@*@(message: String,list:List[ProjectDetails])*@
@header("Home",0){
<section class="container">
<form action="@routes.EngineerController.dailyStatus1()" method="post" id="PayPalWizardForm" class="form-horizontal">
		<div class="panel">
			<div class="panel-body">
				<div class="row heading-badge">
				@if(session.get("AppUserRole")  == "Engineer"){
						<h3>Engineer DashBoard</h3>
				}else {
					@if(session.get("AppUserRole")  == "HR"){
					<h3>HR Home</h3>
					} else {
						<h3>Marketing Home</h3>
					}
				}
	        	</div>
	        	<div class="panel-body col-md-12">
					<div class="col-md-6">
						<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
					</div>
					<div class="col-md-6">
						<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
					</div>
				</div>
				<div class="panel-body col-md-12">
					<div class="col-md-6">
						<div id="chartContainer3" style="height: 300px; width: 100%;"></div>
					</div>
					<div class="col-md-6">
						<h3 class="text-center" style="font-weight: 600;font-family: arial, sans-serif;">Leaves</h3>
						<div class="text-center  todayleaves">
			       		   	<table class="table table-bordered" id="dtable1">
			       		   		<thead>
			       		   			<tr>
			       		   				<th class="text-center">Leave Type</th>
			       		   				<th class="text-center">No .oF Leaves</th>
			       		   			</tr>
			       		   		</thead>
                           		<tbody>
                           	 		@for(Name <- controllers.staticController.getTotalLeaves().keySet){
                           	 			<tr>
                           	 				<td>
                           	 					@if(Name.equals("TO_BE_APPLIED")){
                           	 						<a href="#" class="text-green-new" data-toggle="popover" data-placement="top"  data-content="@staticController.getToBeAppliedDates"   data-trigger="hover">@Name</a>
                           	 					}else{
                           	 						<a href="/leave/status" class="text-green-new">@Name</a>
                           	 					}
                           	 				</td>
                           	 				<td>
                           	 					<a href="#" class="text-orange-new">@controllers.staticController.getTotalLeaves().get(Name)</a>
                           	 				</td>
                           	 			</tr>
                           	 		
                           	 		}
			       				</tbody>
			       		 	</table>
			          	</div>
					</div>
				</div> 
		</div>
	</div>
  </form>
   <div id="modalConfirmYesNo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @*<h3 id="lblTitleConfirmYesNo" class="modal-title">Confirmation Message</h3>*@
            </div>
            <div class="modal-body">
                <h3 id="lblMsgConfirmYesNo"></h3>
            </div>
            <div class="modal-footer">
               @* <button id="btnYesConfirmYesNo" type="button" class="btn btn-success btn-sm btn-raised btnYesConfirmYesNo">Yes</button>*@
                <button id="btnNoConfirmYesNo" type="button" class="btn btn-danger btn-sm btn-raised" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
</section>

}
@footer(""){
@*
<!-- Twitter Bootstrap Wizard -->
<script src="/assets/bower_components/twitter-bootstrap-wizard-jquery/jquery.bootstrap.wizard.min.js"></script>

<!-- formValidation -->
<script src="/assets/includes/js/formvalidation/formValidation.min.js"></script>
<script src="/assets/includes/js/formvalidation/framework/bootstrap.min.js"></script>

<!-- Bootstrap Material Design -->
<script src="/assets/bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="/assets/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>

<!-- Custom JavaScript -->
<script src="/assets/includes/js/pp-wizard-scripts.js"></script>
<script>
$(function(){
 $(".alert").eq(1).hide(0).delay(100).fadeIn(1400);
 $(".alert").eq(2).hide(0).delay(300).fadeIn(1800);
 $(".alert").eq(3).hide(0).delay(600).fadeIn(2200);
})
</script>*@
<script type="text/javascript" src="/assets/js/canvasjs.min.js"></script>
<script type="text/javascript">
  window.onload = function () {
var array1 = [];
$.get('/get-pieChart4',function(data){
	 $.each(data,function(index,value){
		 array1.push({  x: (new Date(index)), y: value});
		 });
    var chart = new CanvasJS.Chart("chartContainer1",
    {
      theme: "theme2",
      title:{
        text: "This Week - Daily Status - Rating",
        fontWeight: "bold"
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "DD-MM-YY",
        interval:1,
        intervalType: "day",
        title: "Dates"
        
      },
      axisY:{
        includeZero: false,
        title: "Rating"
        
      },
      data: [
      {        
        type: "line",
        //lineThickness: 3,        
        dataPoints: array1
      }
      
      
      ]
    });

chart.render();
});
var array2 = [];
$.get('/get-pieChart5',function(data){
	 $.each(data,function(index,value){
		 array2.push({  y: value, legendText: index,label: index});
		 });
var chart = new CanvasJS.Chart("chartContainer2",
		{
			title:{
				text: "This Week - Hours -Time Sheet",
				fontWeight: "bold"
			},
			exportFileName: "Pie Chart",
	                animationEnabled: true,
			legend:{
				verticalAlign: "bottom",
				horizontalAlign: "center"
			},
			data: [
			{       
				type: "pie",
				showInLegend: true,
				toolTipContent: "{legendText}: <strong>#percent%</strong>",
				indexLabel: "{y} hrs",
				dataPoints:array2
		}
		]
		});
		chart.render();
});
var array3 = [];
$.get('/get-pieChart6',function(data){
	 $.each(data,function(index,value){
		 array3.push({  x: (new Date(index)), y: value});
		 });
	var chart = new CanvasJS.Chart("chartContainer3",
		    {
		      theme: "theme2",
		      title:{
		        text: "This Week - Attendance - Hours",
		        fontWeight: "bold"
		      },
		      animationEnabled: true,
		      axisX: {
		        valueFormatString: "DD-MM-YY",
		        interval:1,
		        intervalType: "day",
		        title: "Dates"
		        
		      },
		      axisY:{
		        includeZero: false,
		        title: "No of Hours"
		        
		      },
		      data: [
		      {        
		        type: "line",
		        //lineThickness: 3,        
		        dataPoints: array3
		      }
		      
		      
		      ]
		    });

		chart.render();
});
}


  $( document ).ready(function(e) {
	    //var name = $(this).attr('userName');
	    $('#lblMsgConfirmYesNo').html("Welcome Suresh Namburi To BB8");
	   // $('#modalConfirmYesNo').modal('show');
	});
</script>
<script>
	  $('[data-toggle="popover"]').popover();   
	</script>
} 
