@(finalMap : Map[Date, List[Timesheet]])
@import java.lang.Float; var nhrs=0.0f;var tthrs=0.0f;
<center>
@if(!finalMap.isEmpty) {
	<table class="table">
		<thead>
			 <tr>
                <th>Date</th>
                <th>Projects</th>
                <th>No.Of Hours</th>
              </tr>
		</thead>
		<tbody>
	  		 @for(date <- finalMap.keySet) {
	  		 	@(nhrs=0.0f)
				<tr>
					<td>@date.format("dd-MM-yyyy")</td>
					<td>
					@for(timeSheet <- finalMap.get(date)){
						@(nhrs+=timeSheet.hours) 
						@timeSheet.project.getProjectName (@timeSheet.hours)<br>
					}
					</td>
					
					<td>
						@(tthrs+=nhrs)
						@nhrs
					</td>
				</tr> 
	   		  }
	   		<tr>
	   			<td>Total No.Of Hours</td>
	   			<td></td>
	   			<td>
	   			@tthrs
	   			</td> 
	   		</tr>
   		</tbody>
  </table>
} else {
<p class="bold">There is no TimeSheet for this week</p>
}