@(name : String)

<div class="navbar navbar-black">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" href="/home-page">
                 <img class="mCS_img_loaded" src="../assets/images/bb8_logo_thrymr.png" style="height:35px;">
                <div class="ripple-container"></div></a>

              </div>
              </div>
              </div>
              
